<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
    <style>
        a {
            color: currentColor;
            text-decoration: none;
        }
        
        ul {
            list-style-type: none;
        }

        .category-list {
            display: flex;
            gap: 1rem;
        }
        .category-list__item {
            font-weight: 600;
            min-width: 0;
        }

        .category__link:hover {
            color: #1a3edf;
            text-decoration: underline;
        }

        .item__description {
            max-width: 65ch;
            display: -webkit-box;
            -webkit-line-clamp: 3;    /* Change this number to limit lines */
            line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;         /* Hides the remaining text */
        }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul class="category-list">
        <li class="category-list__item"><a href="/" class="category__link">All</a></li>
        <% categories.forEach((category) => { %>
            <li class="category-list__item">
                <a href="/?category=<%= category.id %>" class="category__link"><%= category.name %></a>
            </li>
        <% }) %>
    </ul>

    <h2>Items</h2>
    <ul class="item-list">
        <% if (items && items.length!==0) { %>
            <% items.forEach((item) => { %>
                <li class="item-list__item">
                    <%- include("./items/item.ejs", {item: item}) %>
                </li>
            <% }) %>
        <% } else { %>
            <li class="item-list__item">
                <p>No items to display</p>
            </li>
            <% } %>
    </ul>
  </body>
</html>
